html, body {
  height: 100%;
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: calc(100% - 161px);
}

.btn-green {
  color: #ffffff;
  background-color: #74C687;
  border-color: #FFFFFF;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #6AA879;
  border-color: #FFFFFF;
}
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #74C687;
  border-color: #FFFFFF;
}
.btn-green .badge {
  color: #74C687;
  background-color: #ffffff;
}


.btn-red {
  color: #ffffff;
  background-color: #E87C87;
  border-color: #FFFFFF;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #E86673;
  border-color: #FFFFFF;
}
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #E87C87;
  border-color: #FFFFFF;
}
.btn-red .badge {
  color: #E87C87;
  background-color: #ffffff;
}


.btn-blue {
  color: #ffffff;
  background-color: #5AAAFF;
  border-color: #FFFFFF;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #1C8AFF;
  border-color: #FFFFFF;
}
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #5AAAFF;
  border-color: #FFFFFF;
}
.btn-blue .badge {
  color: #5AAAFF;
  background-color: #ffffff;
}

.alert-red {
  background-color: #E87C87;
  color: #721c24;
}
.alert-green {
  background-color: #74C687;
  color: #155724;
}
