<div>
  <h1 class="text-center">Register</h1>
  <form (ngSubmit)="f.valid && registerNewUser()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="firstName">Firstname: </label>
      <input class="form-control" id="firstName" type="text" name="firstName" [(ngModel)]="user.firstName"
             #firstName="ngModel" minlength="2" required pattern="[a-zA-Z0-9-]+" autocomplete="off"/>
      <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div>Firstname must be at least 2 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Lastname: </label>
      <input class="form-control" id="lastName" type="text" name="lastName" [(ngModel)]="user.lastName"
             #lastName="ngModel" minlength="2" required autocomplete="off">
      <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div>Lastname must be at least 2 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input class="form-control" id="email" type="text" name="email" [(ngModel)]="user.email" #email="ngModel"
             minlength="6" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" autocomplete="off">
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
        <div>You must enter a valid email</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input class="form-control" id="password" type="password" name="password" [(ngModel)]="user.password"
             #password="ngModel" minlength="4" required pattern="[a-zA-Z0-9-]+" autocomplete="off">
      <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
        <div>Password must be at least 4 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confrim password: </label>
      <input class="form-control" id="confirmPassword" type="password" name="confirmPassword"
             [(ngModel)]="user.confirmPassword"
             #confirmPassword="ngModel"  required autocomplete="off"/>
      <div *ngIf="!confirmPasswords() && (confirmPassword.dirty || confirmPassword.touched) "class="alert alert-danger">
        <div>Passwords do not match</div>
      </div>
    </div>
    <div class="form-group">
      <label for="image">Image: </label>
      <input class="form-control" id="image" type="text" name="image" [(ngModel)]="user.image" autocomplete="off">
    </div>
    <div class="form-group">
      <button class="btn btn-green"  [disabled]="!f.valid || !confirmPasswords()">Register</button>
    </div>
  </form>
</div>
