<div class="form-group">
  <label for="exampleFormControlSelect2">Example multiple select</label>
  <select multiple class="form-control" id="exampleFormControlSelect2" [(ngModel)]="model.selectedUsers">
    <option *ngFor="let user of userList | userFilter:model.searchUser" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
  </select>
</div>
<input type="text" class="form-control" [(ngModel)]="model.searchUser" name="searchUser" #searchUser="ngModel">
<button type="button" class="btn btn-success" [disabled]="!model.selectedUsers" (click)="addUsers()">Add</button>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of selectedUserList">
    {{user.firstName}} {{user.lastName}}
    <span class="badge badge-dark badge-pill" (click)="removeUser(user)">
      <i class="fa fa-remove"></i>
    </span>
  </li>
</ul>
<button type="button" class="btn btn-success" routerLink='/newproject' routerLinkActive="active">New project <i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
