<div>
  <form>
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="name">Project title:</label>
        <input id="name" class="form-control" [(ngModel)]="currentProject.projectName" name="name">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-6 form-group">
        <input type="text"
               placeholder="Pick a end date.."
               class="form-control"
               bsDatepicker
               name="startDate"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
               [(ngModel)]="currentProject.startDate"
        >
      </div>
      <div class="col-xs-12 col-12 col-md-6 form-group">
        <input type="text"
               placeholder="Pick a end date.."
               class="form-control"
               bsDatepicker
               name="endDate"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
               [(ngModel)]="currentProject.endDate"
        >
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-12">
        <button class="btn btn-success btn-block" (click)="updateProject()">Update Project</button>
      </div>
    </div>
  </form>
  <br/>
  <div class="row">
    <div class="pull-right offset-8 col-lg-4">
    </div>
  </div>
</div>
