<div class="bg">
  <div class="row text-center">
    <div class="col-lg-12">
      <h1 class="main-text-dash">It's all about teamwork</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h3>Agile task makes teamwork and leadership easy for everyone</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div *ngIf="!currentUser" class="btn btn-outline-primary get-started-button" routerLink="/register">
        Get started
      </div>
    </div>
  </div>

  <div class="mt-5">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../assets/thisAgileBoard.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">KanBan</h5>
        <p class="card-text">
          Be at the top of development and throw out the whiteboard board! Start today with KanBan on the web!</p>
        <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/thisTeamwork.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Teamwork</h5>
        <p class="card-text">
          With help of AgileTask, teams get a better overview of the projects and the employees, which makes work easier for everyone!</p>
        <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/thisAgileFunny.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          Happy and performing teams</h5>
        <p class="card-text">
          A good overview of projects and tasks reduces the risk of misunderstanding and duplication of work, leading to positive and better performing teams!</p>
        <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
      </div>
    </div>
  </div>
  </div>

  <div class="mt-5">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/thisStockholm.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Office</h5>
          <p class="card-text">
            Our office is located in central
            Stockholm at Drottninggatan.</p>
          <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/thisPostItLappar.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">The Benefits of Kanban</h5>
          <p class="card-text">Read about the benefits of Kanban for Project Management!
          </p>
          <a href="https://leankit.com/blog/2017/03/6-benefits-kanban-project-management/">Click here!</a>
          <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/thisEvent.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Upcoming event</h5>
          <p class="card-text">
            Meet us at our upcoming event on 5th of September in Berlin!</p>
          <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
        </div>
      </div>
    </div>
  </div>
</div>


