s<div class="bg">
  <div class="row text-center">
    <div class="col-lg-12">
      <h1 class="main-text-dash">It's all about teamwork</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h3>Agile task makes teamwork and leadership easy for everyone</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div *ngIf="!currentUser" class="btn btn-outline-primary get-started-button" routerLink="/register">
        Get started
      </div>
    </div>
  </div>

  <div class="mt-5">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../assets/thisAgileBoard.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">KanBan</h5>
        <p class="card-text">Häng med i utvecklingen och kasta whiteboard tavlan! Börja idag med KanBan på webben!</p>
        <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/thisTeamwork.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Samarbete</h5>
        <p class="card-text">Med AgileTask hjälper teams att få bättre översikt över projekt och medarbetatre vilket uderlättar arbetet!</p>
        <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/thisAgileFunny.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Glada och positiva team</h5>
        <p class="card-text">Med god översikt av projekt och uppgifter så minskar risker för missförstånd och dubbelt arbete, vilket leder till positivare och gladare team!</p>
        <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
      </div>
    </div>
  </div>
  </div>

  <div class="mt-5">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/thisStockholm.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kontor</h5>
          <p class="card-text">Vårt kort ligger i centrala Stockholm på Drottninggatan 10.</p>
          <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/thisAgileBoard.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/thisTeamwork.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Team AgileTask</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

