<div class="row">
  <label class="col-lg-4">Select a project:</label>
</div>
<div class="row justify-content-between pl-3 pr-3">

  <select class="form-control col-4" [(ngModel)]="selectedProject" (change)="getSelectedIdFromProject()">
    <option *ngFor="let project of projectList" [ngValue]="project">{{project.projectName}}</option>
  </select>
  <button type="button" class="btn btn-success align-items-center" routerLink='/newproject' routerLinkActive="active">
    New project <i class="fa fa-plus-square-o" aria-hidden="true"></i>
  </button>
</div>
<hr>
<h2 class="text-center">{{selectedProject.projectName}}</h2>
<router-outlet *ngIf="selectedProject?.id"></router-outlet>


