<div class="row justify-content-between pl-3 pr-3">
  <select class="form-control col-4" [(ngModel)]="selectedProject" (change)="getSelectedIdFromProject()" >
    <option [ngValue]="undefined" disabled  selected> Please select a project </option>
    <option *ngFor="let project of projectList; let i = index" [ngValue]="project">{{project.projectName}}</option>
  </select>
  <button type="button" class="btn btn-success align-items-center" routerLink='/newproject' routerLinkActive="active">
    New project <i class="fa fa-plus-square-o" aria-hidden="true"></i>
  </button>
</div>
<hr>
<h2 class="text-center">{{selectedProject.projectName}}</h2>
<router-outlet></router-outlet>
