<div class="row">
  <label class="ml-3">Select a project:</label>
</div>
<div class="row">
  <div class="col-lg-4">
  <select class="form-control" [(ngModel)]="selectedProject" (change)="getSelectedIdFromProject()">
    <option *ngFor="let project of projectList" [ngValue]="project">{{project.projectName}}</option>
  </select>
  </div>
  <div class="col-lg-8">
    <button type="button" class="btn btn-outline-dark pull-right" routerLink='/newproject' routerLinkActive="active">New project <i
      class="fa fa-plus-square-o" aria-hidden="true"></i></button>
  </div>

</div>
<hr>
<h2 class="text-center">{{selectedProject.projectName}}</h2>
<router-outlet *ngIf="selectedProject?.id"></router-outlet>


