<div class="row">
  <div class="offset-2 col-lg-8" >
    <h3>Profile <a><i class="fa fa-cog" aria-hidden="true"></i></a></h3>

  </div>
</div>
<hr>

<div class="row">
  <div class="offset-2 col-lg-8" >
    <label for="firstName" style="font-weight: bold">First name:</label>
    <p id="firstName">{{currentUser.firstName}}</p>
  </div>
</div>
<div class="row">
  <div class="offset-2 col-lg-8">
    <label for="lastName" style="font-weight: bold">Last name:</label>
    <p id="lastName">{{currentUser.lastName}}</p>
  </div>
</div>
<div class="row">
  <div class="offset-2 col-lg-8">
    <label for="lastName" style="font-weight: bold">Email:</label>
    <p id="email">{{currentUser.email}}</p>
  </div>
</div>
<div class="row">
  <div class="offset-2 col-lg-8">
    <label for="image"  style="font-weight: bold">Image:</label>
    <p id="image">{{currentUser.image}}</p>
  </div>
</div>
<hr>


