<div *ngIf="task && users">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit task</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Task name:</label>
        <input type="text" class="form-control" id="title"  placeholder="This will be shown at the board" [(ngModel)]="task.title" #title="ngModel" name="title" autocomplete="off" minlength="1" required>
      </div>
      <div class="form-group">
        <label for="description">Task details:</label>
        <textarea rows="3" class="form-control" id="description" placeholder="Discribe the task" [(ngModel)]="task.description" name="description" #description="ngModel" autocomplete="off" minlength="1" required></textarea>
      </div>

      <div class="form-group">
        <label for="assigned">Assigned To:</label>
        <select class="form-control" id="assigned" [(ngModel)]="task.username" name="username">
          <option>Unassigned</option>
          <option *ngFor="let user of users" [ngValue]="user.firstName +' '+ user.lastName">{{user.firstName}} {{user.lastName}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-red" (click)="delete()">Delete</button>
    <button type="button" class="btn btn-green" [disabled]="title.errors?.required || description.errors?.required" (click)="save()">Save</button>
  </div>
</div>
