<nav class="navbar navbar-expand-lg navbar-border">
  <a class="navbar-brand navbar-logo" routerLink="/dashboard"><img src="../../../assets/navbar2blacktext.png" height="50" width="175"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngIf="currentUser" class="nav-item nav-item-fix">
        <a class="nav-link navbar-link-fix not-active" routerLink="project" routerLinkActive="active">Projects</a>
      </li>
      <li *ngIf="currentUser" class="nav-item nav-item-fix">
        <a class="nav-link navbar-link-fix not-active" routerLink="/manage_project" routerLinkActive="active">Manage projects</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li *ngIf="currentUser" class="nav-item nav-item-fix">
        <a class="nav-link navbar-link-fix not-active my-auto mr-1" routerLink="/profile" routerLinkActive="active" style="padding-top: 5px">
          <img [src]="'data:image/jpg;base64,' + currentUser.image" height="42" style="display: inline" class="my-auto mr-1 mb-1">
          {{currentUser.firstName}} {{currentUser.lastName}}
        </a>
      </li>
      <li *ngIf="!currentUser" class="nav-item nav-button-li-fix">
        <a class="nav-button-fix btn btn-outline-primary" routerLink="/auth/login">
          Login <i class="fa fa-sign-in"></i>
        </a>
      </li>
      <li *ngIf="currentUser" class="nav-item nav-button-logout-fix">
        <a class="nav-button-fix btn btn-outline-primary" (click)="logout()">
          Logout <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
