<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/project" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li *ngIf="!currentUser" class="nav-item">
        <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">
          Login <i class="fa fa-sign-in"></i>
        </a>
      </li>
      <li *ngIf="currentUser" class="nav-item">
        <a class="nav-link" (click)="logout()">
          Logout <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

