<div class="row mt-3">
  <label class="ml-3">Select a sprint:</label>
</div>
<div class="row">
  <div class="col-lg-4">
    <select class="form-control" [(ngModel)]="selectedSprint" (change)="handleSprintChange()">
      <option *ngFor="let sprint of sprintList" [ngValue]="sprint">{{sprint.title}}</option>
    </select>
  </div>
  <div class="col-lg-8">
    <button type="button" class="btn btn-outline-dark pull-right" (click)="openNewSprintModal()">
      New sprint <i class="fa fa-plus-square-o" aria-hidden="true"></i>
    </button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <li class="list-group-item list-group-item-danger"><strong>ToDo:</strong></li>
    <div class="list-group">
      <a *ngFor="let task of todoList" class="list-group-item list-group-item-action">{{task.title}}</a>
    </div>
  </div>

  <div class="col ml-3 mr-3">
    <li class="list-group-item list-group-item-warning"><strong>In progress:</strong></li>
    <div class="list-group">
      <a *ngFor="let task of progressList" class="list-group-item list-group-item-action">{{task.title}}</a>
    </div>
  </div>

  <div class="col">
    <div class="list-group">
      <li class="list-group-item list-group-item-success"><strong>Done:</strong></li>
      <button *ngFor="let task of doneList" class="list-group-item list-group-item-action">{{task.title}}</button>
    </div>
  </div>
</div>
